


/*global rules*/
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    max-width: 100vw;
}
.container{
    width: 90%;
    padding: 5px 15px;
    margin: 0 auto;
}
/*end global rules*/
    
/*header*/
    header{
        color: #0B0C0F;
        background-color: #0FE2CA;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a{
        text-decoration: none;
    }
    nav a:visited{
        color: inherit;
    }
    nav ul{
        list-style: none;
        display: flex;
    }
    
    nav li{
        margin-left: 15px;
        cursor: pointer;
        font-size: 20px;
    }
    
    nav img{
        width: 50px;
    }
    .humberger{
        display: none;
    }
    nav h2{
        display: none;
    }

/*end header*/
/*section home*/

    .home {
        text-align: center;
        color: #0B0C0F;
        background-color: #0FE2CA;
    }
    .home h1{
        font-size: 40px;
        margin: 10px 0 15px;
    }
    .home .gif{
        display: flex;
        justify-content: space-around;
    }
    .home .para{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home .para{
        font-size: 25px;
    }
    .home button{
        width: 150px;
        height: 45px;
        font-size: 20px;
        margin-top: 10px;
        border-radius: 20px;
        border-style: none;
        background-color: #0B0C0F;
        color: #0FE2CA;
        cursor: pointer;
                
    }
/*end ssection home*/

/*first year section*/
    .first{
        background-color: #0B0C0F;
        color: #0FE2CA;
    }
    .first .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
    }
    hr{
        color: #0FE2CA;
    }
    .maincard{
        width: 200%;
        display: flex;
        justify-content: space-around;
        margin-left: 100%;
        overflow: hidden;
        transition: 1s;
    }
    #one:checked ~ .maincard .module.two{
        display: none;
    }
    #two:checked ~ .maincard{
        margin-left: -100%;
    }
    .modules{
        border-radius: 20px;
        border: 5px solid ;
        width: 45%;
        text-align: center;
    }
    .module{
        padding: 12px;
        font-weight: 500;
    }
    .module a{
        text-decoration: none;
    }
    .module a:visited{
        color: inherit;
    }
    .semesters{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 3px;
        border-radius: 15px;
        margin-bottom: 5px;
    }
    .semesters label{
        background-color: #0FE2CA;
        color: #0B0C0F;
        border-radius: 15px;
        padding: 3px;
        transition: 1s;
    }
    #one:checked ~ .semesters label:last-child{
        background-color: #0B0C0F;
        color: #0FE2CA;
    }
    #two:checked ~ .semesters label:first-child{
        background-color: #0B0C0F;
        color: #0FE2CA;
    }
    .semesters h3:first-child{
        margin-right: 5px;
    }
    input{
        display: none;
    }


/*end first year section*/

/*second year section*/
    .second{
        background-color: #0B0C0F;
        color: #0FE2CA;
    }
    .second .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/*end second year section*/
/*info section*/
    .info{
        background-color: #0FE2CA;
        color: #0B0C0F;
    }
    .info .container{
        display: flex;
        justify-content: center;
    }
    footer p span{
        
        font-size: 25px;
    }
/*end info section*/